Data Structure

Lists

In [33]:
list = ["sea", "forest", "nature", "sky"]
list

['sea', 'forest', 'nature', 'sky']

In [35]:
list[1:3]

['forest', 'nature']

In [36]:
list[:-1]

['sea', 'forest', 'nature']

In [8]:
list.sort()
list

['forest', 'nature', 'sea', 'sky']

In [24]:
list.append("mountain")
list

['sea', 'forest', 'nature', 'sky', 'mountain']

In [16]:
array = [1, 4, 7, 3]
array

[1, 4, 7, 3]

In [14]:
array.extend(list)  # type: ignore
array

[1, 4, 7, 3, 'forest', 'nature', 'sea', 'sky', 'mountain']

In [17]:
array.sort()
array

[1, 3, 4, 7]

In [25]:
list.pop(2)
list

['sea', 'forest', 'sky', 'mountain']

In [26]:
list.reverse()
list

['mountain', 'sky', 'forest', 'sea']

In [28]:
array.insert(2, 5)
array

[1, 3, 5, 4, 7]

In [37]:
array.remove(4)
array

[1, 3, 5, 7]

In [50]:
array.index(1)

0

In [52]:
array.pop(array.index(5))
array

[1, 3, 7]

In [29]:
nature = list.copy()
list.clear()
nature

['mountain', 'sky', 'forest', 'sea']

In [30]:
list

[]

Tuples

In [38]:
tuple = [(6, 27), ("name", "abdelilah"), ("profession", "student")]
tuple

[(6, 27), ('name', 'abdelilah'), ('profession', 'student')]

In [40]:
tuple[1]

('name', 'abdelilah')

Function

In [66]:
def hello():
    return "Hello World"

hello()

'Hello World'

In [62]:
def sum(x, y):
    print(x, "+", y, "=", int(x) + int(y))


a = input("Enter first number: ")
b = input("Enter second number: ")

sum(a, b)

4 + 6 = 10

In [61]:
def calculate(x, y):
    print(x, y, "=", x + y)
    print(x, y, "=", x - y)
    print(x, y, "=", x * y)
    print(x, y, "=", x / y)

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

calculate(a, b)

2 3 = 5
2 3 = -1
2 3 = 6
2 3 = 0.6666666666666666

Conditionnal

IF Statement

In [68]:
isTall= False
def man():
    if isTall:
        return 'You\'re a tall man'
    else :
        return 'You\'re a short man'

man()

"You're a short man"

In [ ]:
g = input('Enter you gender: ')
h = input('Enter you height: ')
def man():
    if isTall:
        return 'You\'re a tall man'
    else :
        return 'You\'re a short man'

man()

In [59]:
def calculator(x, y, z):
    if z == "+":
        print(x, z, y, "=", float(x) + float(y))
    elif z == "-":
        print(x, z, y, "=", float(x) - float(y))
    elif z == "x":
        print(x, z, y, "=", float(x) * float(y))
    else:
        if float(y) != 0:
            print(x, z, y, "=", float(x) / float(y))
        else:
            print(x, z, y, "=", "Invalide prompt! Impossible to divide by 0")


a = input("Enter first number: ")
b = input("Enter second number: ")
c = input("Enter operator: ")

calculator(a, b, c)

2 / 0 = Invalide prompt! Impossible to divide by 0