Data Structure

Lists

In [25]:
list = ["sea", "forest", "nature", "sky"]
list

['sea', 'forest', 'nature', 'sky']

In [10]:
list[1:3]

['forest', 'nature']

In [11]:
list[:-1]

['sea', 'forest', 'nature']

In [12]:
list.sort()
list

['forest', 'nature', 'sea', 'sky']

In [24]:
list.append("mountain")
list

['mountain', 'sky', 'sea', 'nature', 'forest', 'mountain', 'mountain']

In [18]:
array = [1, 4, 7, 3]
array

[1, 4, 7, 3]

In [19]:
array.sort()
array

[1, 3, 4, 7]

In [15]:
array.extend(list)  # type: ignore
array

[1, 4, 7, 3, 'forest', 'nature', 'sea', 'sky', 'mountain']

In [ ]:
list.pop(2)
list

['sea', 'forest', 'sky', 'mountain']

In [22]:
list.reverse()
list

['mountain', 'sky', 'sea', 'nature', 'forest']

In [ ]:
array.insert(2, 5)
array

[1, 3, 5, 4, 7]

In [ ]:
array.remove(4)
array

[1, 3, 5, 7]

In [ ]:
array.index(1)

0

In [ ]:
array.pop(array.index(5))
array

[1, 3, 7]

In [ ]:
nature = list.copy()
nature

['mountain', 'sky', 'forest', 'sea']

In [ ]:
list.clear()
list

[]

Tuples

In [ ]:
tuple = [(6, 27), ("name", "Abdelilah"), ("profession", "student")]
tuple

[(6, 27), ('name', 'abdelilah'), ('profession', 'student')]

In [ ]:
tuple[1]

('name', 'abdelilah')

Function

In [26]:
def hello():
    return "Hello World"


hello()

'Hello World'

In [ ]:
def sum(x, y):
    print(x, "+", y, "=", int(x) + int(y))


a = input("Enter first number: ")
b = input("Enter second number: ")

sum(a, b)

4 + 6 = 10

In [27]:
def calculate(x, y):
    print(x, "+", y, "=", x + y)
    print(x, "-", y, "=", x - y)
    print(x, "x", y, "=", x * y)
    print(x, "/", y, "=", x / y)
    print(x, "%", y, "=", x % y)


a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

calculate(a, b)

6 + 2 = 8
6 - 2 = 4
6 x 2 = 12
6 / 2 = 3.0
6 % 2 = 0

Conditional Statement

IF state

In [29]:
print("Are you hungry? if not don't write something")
fikJo3 = bool(input())
# hungry sense
if fikJo3:
    print("food.ma")
else:
    print("Drink water")

Are you hungry? if not don't write something
food.ma

In [ ]:
isTall = False


def man():
    if isTall:
        return "You're a tall man"
    else:
        return "You're a short man"


man()

"You're a short man"

In [ ]:
g = input("Enter you gender: ")
h = float(input("Enter you height: "))

isTall = "You're a tall "
isShort = "You're a short "


def man(g, h):
    if g == "male":
        if h >= 150:
            return isTall + "man"
        else:
            return isShort + "man"
    else:
        # female gender
        if h >= 150:
            return isTall + "woman"
        else:
            return isShort + "woman"


man(g, h)

"You're a tall man"

In [30]:
def calculator(x, y, z):
    if z == "+":
        print(x, z, y, "=", x + y)
    elif z == "-":
        print(x, z, y, "=", x - y)
    elif z == "x":
        print(x, z, y, "=", x * y)
    elif z == "%":
        print(x, z, y, "=", x % y)
    elif z == "/":
        if y != 0:
            print(x, z, y, "=", x / y)
        else:
            print(x, z, y, ",", "Invalid prompt! Impossible to divide by 0")
    else:
        print("Invalid operator! Choose one of [+,-,x,/,%]")


a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = input("Enter operator: ")

calculator(a, b, c)

3.0 % 3.0 = 0.0

In [33]:
def calculator(x, y, z):
    if z == "+":
        r = float(x) + float(y)
    elif z == "-":
        r = float(x) - float(y)
    elif z == "x":
        r = float(x) * float(y)
    elif z == "%":
        r = float(x) % float(y)
    elif z == "/":
        if float(y) == 0.0:
            r = "Invalid prompt! Impossible to divide by 0"
        else:
            r = float(x) / float(y)
    else:
        r = "Invalid operator! Choose one of [+,-,x,/,%]"

    return x + " " + z + " " + y + " = " + str(r)


a = input("Enter first number: ")
b = input("Enter second number: ")
c = input("Enter operator: ")

calculator(a, b, c)

'3 $ 6=Invalid operator! Choose one of [+,-,x,/,%]'

Dictionnaries

In [ ]:
Dict = {"Jan": "January", "Feb": 2, "Mar": True}
Dict

{'Jan': 'January', 'Feb': 2, 'Mar': True}

In [ ]:
Dict["Mar"] = "Mars"
Dict

{'Jan': 'January', 'Feb': 2, 'Mar': 'Mars'}

Loops

While Loop

In [ ]:
isHuman = True
while isHuman:
    # infinite loop
    print("Hello Human")

In [39]:
count = 1
while count <= 3:
    print(count)
    count += 1

1
2
3

In [45]:
secretWord = "black"
guessWord = input("Guess the secret word :")

if guessWord != secretWord:
    print("You lost!")
else:
    print("You won!")

You won!

In [50]:
import random

words = ["stack", "geeks", "coder", "programmer", "python"]
secretWord = random.choice(words)
# print(secretWord)

guessCount = 0
guessLimit = 3
outOfGuess = False

guessWord = input("Guess the secret word of ")

while not (outOfGuess) and guessCount < guessLimit:
    # remaining try
    guessWord = input("Guess the secret word :")
    if guessWord == secretWord:
        outOfGuess = True

    # ended attempt
    else:
        guessCount += 1


if outOfGuess:
    print("You won!")
else:
    print("You lost!")

print("The word was:", secretWord)

You lost!
The word was: geeks

For Loop

In [ ]:
arr = ["car", "plane", "boat"]
for i in range(len(arr)):
    print(arr[i])

car
plane
boat

In [ ]:
for i in range(len(arr)):
    arr[i] = "transport"

arr

['transport', 'transport', 'transport']